<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ url_for('static',     filename='thinking-emoji.png') }}">
</head>
<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="container">    
    <div class="fakeimg" style="height: auto; margin-top: 90px;">
      <div class='fakeimg' style="height: 150px;background-color: black; width: 140px; color: aliceblue; float: left;">
        Image
      </div>
      <aside><div class="fakeimg" style="height: 150px;background-color: rgb(48, 48, 48); color: aliceblue; margin-left: 180px;">
       <h3>NAME</h3>
       <p>
        Some stuff that is probably very interesting...<br>
        Or not, idk.
       </p> 
      </div></aside>
      <div class='fakeimg' style="height: auto; background-color: rgb(105, 105, 105); color: aliceblue;">
        <h3>Description...</h3>
        <p><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at pellentesque ligula, in cursus lacus.<br>
          Etiam ut ullamcorper tortor. Aliquam arcu elit, pharetra ut quam eget, tempor molestie velit.<br>
          Nulla eget orci sit amet lorem pellentesque tincidunt sit amet vitae ipsum. Cras blandit semper lectus, sed sagittis massa sodales ac.<br>
          In condimentum ultrices erat vel pellentesque. Integer faucibus elementum purus sed malesuada.<br>
          <br>
          Sed eu dolor non purus hendrerit feugiat. Fusce lobortis elit quam, et luctus nunc auctor at.<br>
          Pellentesque varius, erat vitae semper porttitor, enim lacus aliquet urna, lacinia varius mi urna vel sem.<br>
          Ut non tellus sed lorem ullamcorper aliquam. Proin elementum mattis orci, vel aliquet turpis faucibus at.<br>
          Sed accumsan finibus lorem ut egestas. Praesent consectetur ultrices turpis.<br>
          <br>
        </p>
        <hr>
        <h3>More stuff</h3>
        <p><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at pellentesque ligula, in cursus lacus.<br>
          Etiam ut ullamcorper tortor. Aliquam arcu elit, pharetra ut quam eget, tempor molestie velit.<br>
          Nulla eget orci sit amet lorem pellentesque tincidunt sit amet vitae ipsum. Cras blandit semper lectus, sed sagittis massa sodales ac.<br>
          In condimentum ultrices erat vel pellentesque. Integer faucibus elementum purus sed malesuada.<br>
          <br>
          Sed eu dolor non purus hendrerit feugiat. Fusce lobortis elit quam, et luctus nunc auctor at.<br>
          Pellentesque varius, erat vitae semper porttitor, enim lacus aliquet urna, lacinia varius mi urna vel sem.<br>
          Ut non tellus sed lorem ullamcorper aliquam. Proin elementum mattis orci, vel aliquet turpis faucibus at.<br>
          Sed accumsan finibus lorem ut egestas. Praesent consectetur ultrices turpis.<br>
        </p>
      </div>
      </div>
  </div> 
  <div class="container">    
      <div class="fakeimg" style="height: 150px;">Container test</div>
  </div>
  <div class="container">    
    <div class="fakeimg" style="height: 600px;">Container test</div>
  </div> 
  <div class="container">    
      <div class="fakeimg" style="height: 400px;">Container test</div>
  </div>
    

  {% endblock %}
  <div class="footer"></div>
</body>
</html>