<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static',     filename='thinking-emoji.png') }}">
        <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
            function openNav() {
            document.getElementById("mySidenav").style.width = "200px";
            document.getElementById("anim").style.marginLeft = "200px";
            document.getElementById("menu").style.color = "#f1f1f1";
            }

            /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
            function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("anim").style.marginLeft = "0";
            document.getElementById("menu").style.color = "#ba2326";
            }
        </script>
    </head>
    <body style="margin: 0;">
        <div class="sidenav" id="mySidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="width: 20px;">&times;</a>
            <img src="{{ url_for('static',     filename='thinking-emoji.png') }}" alt="Logo" style="width: 160px; padding-left:40px; height: auto;">

            <ul class="no-bullets">
                <li><a class='nav-link' href="{{ url_for('index') }}" style="padding-top:40px;" onclick="closeNav()">Home</a></li>
                <li><a class='nav-link' href="{{ url_for('test') }}" onclick="closeNav()">Test</a></li>
                <li><a class='nav-link' href="{{ url_for('about') }}" onclick="closeNav()">About</a></li>
            </ul>
        </div>
        
        <div id="anim">
            <div class="header" id="header-child">
                <span class="menu" id="menu" onclick="openNav()">&#9776;</span>
                <a class='header-child nav-link' href="{{ url_for('login') }}" style='margin-right: 15px; width: 50px; margin-top: 10px;'>Login</a>
                </div>
            <div class="main-container" >
                {% block content %}

                <!-- Page content -->
                                        
                {% endblock %}
            </div>
            <div class="footer">
                <p style="color: white; margin-left: 20px; padding-top: 20px;">Footer of the page</p>
            </div>
        </div>
    </body>
</html>